<div class="ui blue segment"><h3>Nouveau projet</h3></div>
<div class="ui black segment">
    <form class="ui form">

        <div class="field">
            <label>Nom du projet</label>
            <input type="text" name="name" placeholder="Nom du projet">
        </div>

        <div class="field">
            <label>Description</label>
            <textarea name="descriptif" placeholder="Description"></textarea>
        </div>

        <div class="field">
            <div class="field">
                <label>Date de debut</label>
                <input type="date" placeholder="JJ//MM/AAAA">
            </div>
        </div>

        <div class="field">
            <label>Propriétaire</label>
            <input readonly="" type="text" name="owner">
        </div>

        <button class="ui button" type="submit">Valider</button>


    </form>
</div>