<div class="ui blue segment"><h3>Nouveau projet</h3></div>
<div class="ui black segment">
    <form class="ui form">

        <div class="field">
            <label>Nom du projet</label>
            <input type="text" name="name" data-ng-model="projectCtrl.project.name" placeholder="Nom du projet">
        </div>

        <div class="field">
            <label>Description</label>
            <textarea name="descriptif" data-ng-model="projectCtrl.project.descriptif" placeholder="Description"></textarea>
        </div>

        <div class="field">
            <div class="field">
                <label>Date de debut</label>
                <input type="date" data-ng-model="projectCtrl.project.date" placeholder="JJ//MM/AAAA">
            </div>
        </div>

        <div class="field">
            <label>Propriétaire</label>
            <input readonly="" type="text" value="Linus Torvalds" name="owner" data-ng-model="projectCtrl.project.owner">
        </div>

        <button class="ui button" type="submit" data-ng-click="projectCtrl.createProject()">Valider</button>


    </form>
</div>