<h1 class="ui header">{{projectCtrl.project.name}}
<div class="sub header">{{projectCtrl.project.descriptif}}</div>
</h1>

<button id="add" class="ui right floated icon  green button" data-ng-click="projectCtrl.addUS()" ><i class="add icon"></i>Nouvelle Story</button>


<!--  Popup creation de US -->
<div class="ui modal" id="modalCreate">
  <i class="close icon"></i>
  <div class="header">
    Créer une nouvelle Story
  </div>
	<div class="ui grid container">
		<div class="ten wide column">
		  <div class="addUS-left">
		  <form class="ui form">
			<div class="field">
				<input type="text" name="code" data-ng-model="projectCtrl.story.code" placeholder="code">
			</div>
			<div class="field">
				<textarea name="descriptif" placeholder="descriptif" data-ng-model="projectCtrl.story.descriptif"></textarea>
			</div>

			<div class="actions">
				<div class="ui positive right icon button" data-ng-click="projectCtrl.createUS()">
				Ajouter
				</div>
			</div>
		  </form>
		  </div>
		</div>
	</div>
</div>


<!--</div>

&lt;!&ndash; daoService.get(this.data,"Tag"); &ndash;&gt;


</div>-->


<table class="ui celled table">
	<thead>
		<tr>
			<th><i class="user icon"></i> Stories</th>
			<th>Tasks</th>
			<th>Done ?</th>
			<th>Developer</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="story in projectCtrl.project.stories">
			<td><span class="ui label">{{story.code}}</span> {{story.descriptif}}
			<button class="ui right floated basic icon  red button"><i class="trash icon"></i> </button>
			<button class="ui right floated basic icon button" data-ng-click="projectCtrl.modifUS()"><i class="edit icon"></i></button>

			<!--  Popup modif de US -->
			<div class="ui large modal" id="modalModif">
				<i class="close icon"></i>
				<div class="header">
				Modifier Story
				<a class="ui teal tag label">{{story.code}}</a>
				</div>
			 <br/>
			  <div class="ui grid container">
				  <div class="ten wide column">
					<form class="ui form">
						<div class="field">
							<label>Code</label>
							<input type="text" name="code" placeholder="Code" value="{{story.code}}">
						</div>
						<div class="field">
							<label>Descriptif</label>
							<textarea placeholder="descriptif" >{{story.descriptif}}</textarea>
						</div>
						<div class="actions">
							<div class="ui positive right icon button" data-ng-click="projectCtrl.createUS()">
								Ajouter
							</div>
						</div>
					</form>
				  </div>

				<div class="six wide column">
					<label>Taches</label>
					<div class="ui relaxed divided list">
						<div class="item" data-ng-repeat="item in story.tasks">
						<i class="large checkmark middle aligned icon"></i>
							<div class="content">
								<a class="header">{{item.content}}</a>
								<!--  <div class="description">Updated 10 mins ago</div> -->
							</div>
						</div>
					</div>
					<div class="ui action input">
						<input type="text" placeholder="Nouvelle tache">
						<button class="ui icon button" ng-submit="addRow()">
						<i class="add icon"></i>
						</button>
					</div>
				</div>

			  </div>
			</div>
			
			</td>

			<td class="center aligned"><span class="ui circular orange label">{{story.tasks.length}}</span></td>
			<td class="center aligned"><i data-ng-show="story.closed()" class="large check circle outline icon"></i></td>
			<td>
			<div id="ddDev-{{story.code}}" class="ui dropdown selection">
				<input name="devSel" type="hidden" data-ng-value="story.developer._id.$oid">
				<div class="default text">Select dev...</div> <i class="icon dropdown"></i>
				<div class="menu">
					<a class="item" data-value="0" data-ng-click="projectCtrl.removeDev(story)">Select dev...</a>
					<a class="item" data-ng-repeat="item in projectCtrl.data['Developer']" data-ng-class="{'active selected': item._id.$oid == story.developer._id.$oid}" data-ng-click="projectCtrl.setDev(dev,story)" data-value="{{item._id.$oid}}">
						{{item.identity}}
					</a>
				</div>
			</div>{{projectCtrl.dropdown(story.code)}}
			</td>
		</tr>
	</tbody>
</table>